/*
 * Copyright (c) 2024 Cirrus Logic, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/i2c/i2c.h>

&i2c1 {
        status = "okay";
        clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
        
        haptic1: cs40l50@34 {
                compatible = "cirrus,cs40l50";
                reg = <0x34>;
                status = "okay";

        };
};

&usart1 {
	status = "disabled";
};
